

body {
    margin: auto 10% auto 10%;
    background-color: lightseagreen;
}

.heading {
    text-align: center;
    font-family: 'lobster', cursive;
} 

.div1 {
    float: left;
} 

img {
    height:300px;
    width: 300px;
    padding-right: 5px;
    border-radius: 180px;
} 

fieldset {
    color: black;
} 

.clearfix::after {
    content: "";
    clear: both;
    display: table;
} 

.right {
    float: right;
    
}