

body {
    margin: auto 10% auto 10%;
    background-color: lightseagreen;
}

body > div {
    border: 3px solid black;
    background-color: white;
    border-radius: 15px;
    padding: 5% 10% 5%;
    margin: 5% auto 5% auto;
} 

.heading {
   font-family: 'lobster', cursive;
   color: rgb(255, 0, 234);
} 

h1, h3 {
    text-align: center;
    line-height: 0.5;
}

.div1 {
    float: left;
} 

img {
    height:100px;
    width: 100px;
    padding-right: 5px;
    border-radius: 180px;
} 

fieldset {
    color: black;
} 

.clearfix::after {
    content: "";
    clear: both;
    display: table;
} 

.right {
    float: right;
    
}